@using EMS.Core.Enums
@using EMS.Core.Responses.ServiceAppointments;
@using EMS.WebApp.MVC.Extensions
@model ServiceAppointmentResponse

@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Detalhes do Agendamento";
}
<div class="page-header">
    <div class="page-title">
        <h4>Detalhes do Agendamento:  @Model.ServiceName</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="productdetails">
                    <ul class="product-bar">
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.ClientName)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.ClientName) @Html.DisplayFor(model => model.ClientLastname)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.EmployeeName)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.EmployeeName) @Html.DisplayFor(model => model.EmployeeLastname)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.ServiceName)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.ServiceName)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.AppointmentStart)
                            </h4>
                            <h6>
                                @this.FormatDate(Model.AppointmentStart)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.AppointmentEnd)
                            </h4>
                            <h6>
                                @this.FormatDate(Model.AppointmentEnd)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.Status)
                            </h4>
                            <h6>
                                @Enum.GetName(typeof(EServiceStatusCore), Model.Status)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </h4>
                            <h6>
                                @this.FormatDate(Model.CreatedAt)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.UpdatedAt)
                            </h4>
                            <h6>
                                @this.FormatDate(Model.UpdatedAt)
                            </h6>
                        </li>
                    </ul>
                </div>
                <div class="mt-3">
                    <a asp-action="Index" class="btn btn-cancel">Voltar</a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-submit me-2">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>