@using EMS.Core.Requests.ServiceAppointments;
@using EMS.WebApp.MVC.Extensions
@model UpdateServiceAppointmentRequest
@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Editar Agendamento";
}
@section Styles {
    @{
        <link rel="stylesheet" href="~/template_admin_2/plugins/select2/css/select2.min.css" />
    }
}
<vc:Notification></vc:Notification>
<div class="page-header">
    <div class="page-title">
        <h4>Editar Agendamento:  @this.FormatDate(Model.AppointmentStart)  —  @this.FormatDate(Model.AppointmentEnd)</h4>
    </div>
</div>
<vc:Summary></vc:Summary>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="ClientId" class="control-label"></label>
                                <select asp-for="ClientId" class="form-control form-small select" asp-items="@(new SelectList(ViewBag.Clients, "Id", "Name"))">
                                    <option value="" disabled>Selecione um cliente</option>
                                </select>
                                <span asp-validation-for="ClientId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="EmployeeId" class="control-label"></label>
                                <select asp-for="EmployeeId" class="form-control form-small select" asp-items="@(new SelectList(ViewBag.Employees, "Id", "Name"))">
                                    <option value="" disabled>Selecione um colaborador</option>
                                </select>
                                <span asp-validation-for="EmployeeId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="ServiceId" class="control-label"></label>
                                <select asp-for="ServiceId" class="form-control form-small select" asp-items="@(new SelectList(ViewBag.Services, "Id", "Name"))">
                                    <option value="" disabled>Selecione um serviço</option>
                                </select>
                                <span asp-validation-for="ServiceId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="AppointmentStart" class="control-label"></label>
                                <input asp-for="AppointmentStart" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}" />
                                <span asp-validation-for="AppointmentStart" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class="form-control form-small select" asp-items="@(new SelectList(ViewBag.StatusList, "Id", "Name", Model.Status))">
                                    <option value="" disabled>Selecione um status</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <a asp-action="Index" class="btn btn-cancel">Voltar</a>
                            <button type="submit" class="btn btn-submit me-2">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        <script src="~/template_admin_2/plugins/select2/js/select2.min.js"></script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}