@using EMS.Core.Responses.ServiceAppointments;
@using EMS.WebApp.MVC.Extensions;
@model PagedViewModel<ServiceAppointmentResponse>
@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Agendamentos";
    var itemIndex = 0;
}

@section Styles {
    @{
        <link rel="stylesheet" href="~/template_admin_2/plugins/fullcalendar/fullcalendar.min.css" />
    }
}
<vc:Notification></vc:Notification>
<div class="page-header">
    <div class="page-title">
        <h4>Agendamentos</h4>
    </div>
    <div class="page-btn d-flex">
        <a asp-action="Create" class="btn btn-added me-2">
            <img src="~/template_admin_2/img/icons/plus.svg" class="me-2" alt="img" /> Agendar
        </a>
        <button id="toggleView" class="btn btn-added bg-lightblue">
            <img src="~/template_admin_2/img/icons/calendars.svg" class="me-2" alt="img" /> Alternar Visualização
        </button>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <form method="get" asp-action="Index">
                        <div class="input-group">
                            <input type="search" name="q" class="form-control form-control-sm" placeholder="Search..." value="@ViewBag.Search">
                            <button class="btn btn-searchset" type="submit">
                                <img src="~/template_admin_2/img/icons/search-white.svg" alt="img" />
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="pdf">
                            <img src="~/template_admin_2/img/icons/pdf.svg" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="excel">
                            <img src="~/template_admin_2/img/icons/excel.svg" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="print">
                            <img src="~/template_admin_2/img/icons/printer.svg" alt="img" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="tableView" class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Colaborador</th>
                        <th>Serviço</th>
                        <th>Início</th>
                        <th>Fim</th>
                        <th>Status</th>
                        <th>Data de Cadastro</th>
                        <th>Data de Modificação</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.List)
                    {
                        <tr>
                            <td>@(Model.PageSize * (Model.PageIndex - 1) + itemIndex + 1)</td>
                            <td>@item.ClientName @item.ClientLastname</td>
                            <td>@item.EmployeeName @item.EmployeeLastname</td>
                            <td>@item.ServiceName</td>
                            <td>@this.FormatDate(item.AppointmentStart)</td>
                            <td>@this.FormatDate(item.AppointmentEnd)</td>
                            <td><span class="badges @this.GetStatusColor(item.Status)">@item.Status.ToString()</span></td>
                            <td>@this.FormatDate(item.CreatedAt)</td>
                            <td>@this.FormatDate(item.UpdatedAt)</td>
                            <td class="text-center">
                                <a class="action-set"
                                   href="javascript:void(0);"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="true">
                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">
                                            <img src="~/template_admin_2/img/icons/eye1.svg"
                                                 class="me-2"
                                                 alt="img" />Detalhes
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">
                                            <img src="~/template_admin_2/img/icons/edit.svg"
                                                 class="me-2"
                                                 alt="img" />Editar
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="Delete" asp-route-id="@item.Id"
                                           class="dropdown-item confirm-text">
                                            <img src="~/template_admin_2/img/icons/delete1.svg"
                                                 class="me-2"
                                                 alt="img" />Deletar
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        itemIndex++;
                    }
                </tbody>
            </table>
            <vc:pagination paged-model="@Model"></vc:pagination>
        </div>
        <div id="calendarView" style="display:none;">
            <div class="card bg-white">
                <div class="card-body">
                    <div id="calendar2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Get the toggle view button element
                const toggleViewButton = document.getElementById("toggleView");

                // Initialize the current view state
                let currentView = localStorage.getItem("currentView") || "table";

                // Function to show the calendar view
                function showCalendar() {
                    document.getElementById("calendarView").style.display = "block";
                    document.getElementById("tableView").style.display = "none";
                }

                // Function to show the table view
                function showTable() {
                    document.getElementById("calendarView").style.display = "none";
                    document.getElementById("tableView").style.display = "block";
                }

                // Set the initial view based on the currentView state
                if (currentView === "calendar2") {
                    showCalendar();
                } else {
                    showTable();
                }

                // Add event listener to the toggle view button
                toggleViewButton.addEventListener("click", function () {
                    if (currentView === "table") {
                        showCalendar();
                        localStorage.setItem("currentView", "calendar2");
                        currentView = "calendar2";
                    } else {
                        showTable();
                        localStorage.setItem("currentView", "table");
                        currentView = "table";
                    }
                });
            });

        </script>

        
        <script>
            $(document).ready(function () {
                $('#calendar2').fullCalendar({
                    locale: 'pt-br',
                    events: '/ServiceAppointments/GetEvents',
                    defaultView: 'month',
                    defaultDate: new Date(),
                    header: {
                        left: "prev,next today",
                        center: "title",
                        right: "",
                        // right: "month,agendaWeek,agendaDay",
                    },
                    buttonText: {
                        today: 'Hoje',
                        // month: 'Mês',
                        // week: 'Semana',
                        // day: 'Dia'
                    },
                    eventClick: function (event) {
                        window.location.href = '/ServiceAppointments/Details/' + event.id;
                    },
                    // eventRender: function (event, element) {
                    //     element.addClass(event.className);
                    //     if (event.description) {
                    //         element.attr('title', event.description); // Adiciona uma tooltip para o titulo
                    //     }
                    // },
                    timeFormat: 'HH:mm'
                });
            });
        </script>

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}