@using EMS.Core.Responses.Employees;
@using EMS.WebApp.MVC.Extensions;
@model PagedViewModel<EmployeeResponse>
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Colaboradores";
    var itemIndex = 0;
}

<vc:Notification></vc:Notification>
<div class="card border-0 col-md-12">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            Colaboradores
        </h5>

        <form method="get" asp-controller="Employees" asp-action="Index">
                <div class="d-flex align-items-center">
                    <div class="input-group me-3">
                        <input type="text"
                               class="form-control"
                               placeholder="Pesquisar"
                               aria-label="Pesquisar"
                               aria-describedby="pesquisar"
                               id="q" name="q"
                               value="@ViewBag.Search" />
                        <button class="btn btn-outline-secondary"
                                type="submit"
                                id="pesquisar">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <a asp-controller="Employees" asp-action="Create" class="btn btn-success align-self-center w-75">
                        Adicionar Colaborador
                    </a>
                </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Celular</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Status</th>
                    <th scope="col">Data de Cadastro</th>
                    <th scope="col">Data de Modificação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.List)
                {
                    <tr>
                        <td>@(Model.PageSize * (Model.PageIndex - 1) + itemIndex + 1)</td>
                        <td>@employee.Name</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Email</td>
                        <td>@employee.PhoneNumber</td>
                        <td>@employee.Document</td>
                        <td>@(employee.IsActive ? "Ativo" : "Desativado")</td>
                        <td>@this.FormatDate(employee.CreatedAt)</td>
                        <td>@this.FormatDate(employee.UpdatedAt)</td>
                        <td>
                            @* <a href="#" class="btn btn-info me-3"><span class="fa fa-unlock"></span></a> *@
                            <a asp-controller="Employees" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-info me-3"><span class="fa fa-eye"></span></a>
                            <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-warning me-3"><span class="fa fa-pencil-alt"></span></a>
                            <a asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger"><span class="fa fa-trash"></span></a>
                        </td>
                    </tr>
                    itemIndex++;
                }
            </tbody>
        </table>
        <vc:pagination paged-model="@Model"></vc:pagination>
    </div>
</div>