@using EMS.WebApp.MVC.Extensions
@model PlanCompanyViewModel
@{
    ViewData["Title"] = Model.Plan.Title;
}
<section class="section-content padding-y container">
    <h1 class="text-center fs-4">Seja bem vindo!</h1>
    <form id="signUpForm" asp-action="Register" method="post" asp-route-returnurl="@ViewData["ReturnUrl"]">
        <vc:Summary></vc:Summary>
        <!-- start step indicators -->
        <div class="form-header d-flex mb-4">
            <span class="stepIndicator">Plano</span>
            <span class="stepIndicator">Empresa</span>
            <span class="stepIndicator">Dados Pessoais</span>
            <span class="stepIndicator">Conta</span>
            <span class="stepIndicator">Finalizar</span>
        </div>
        @* <vc:Summary></vc:Summary> *@
        <!-- end step indicators -->
        <!-- step zero -->
        <div class="step">
            <h3 class="text-center mb-4">Confirmar Plano</h3>
            <input type="hidden" asp-for="@Model.RegisterCompany.Company.PlanId" value="@Model.Plan.Id" />
            <div class="card-body text-center">
                <h4 class="title">@Model.Plan.Title</h4>
                <p class="card-text">@Model.Plan.Subtitle</p>
            </div>

            <div class="card-body text-center">
                <div class="">
                    @foreach (var benefit in this.SplitBenefits(@Model.Plan.Benefits))
                    {
                        <p class="font-weight-bold"><i class="far fa-check-circle" style="color: #f06f11;"></i> @benefit</p>
                    }
                </div>
            </div>

            <div class="card-body mb-3 text-center">
                <var class="price h4">@this.FormatCurrency(Model.Plan.Price)</var>
            </div>
        </div>

        <!-- step one -->
        <div class="step">
            <h3 class="text-center mb-4">Dados da Empresa</h3>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Company.Name" placeholder="Nome da Empresa" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Company.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Company.Document" placeholder="CPF/CNPJ" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Company.Document" class="text-danger"></span>
            </div>
        </div>

        <!-- step two -->
        <div class="step">
            <h3 class="text-center mb-4">Dados Pessoais</h3>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Employee.Name" placeholder="Nome" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Employee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Employee.LastName" placeholder="Sobrenome" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Employee.Document" placeholder="CPF" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Employee.Document" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Employee.PhoneNumber" placeholder="Celular" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Employee.PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <!-- step three -->
        <div class="step">
            <h3 class="text-center mb-4">Configurações da Conta</h3>
            <div class="form-group">
                <input asp-for="@Model.RegisterCompany.Employee.Email" placeholder="E-mail" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Employee.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="password" asp-for="@Model.RegisterCompany.Password" placeholder="Senha" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="password" asp-for="@Model.RegisterCompany.ConfirmPassword" placeholder="Confirme sua senha" class="form-control" />
                <span asp-validation-for="@Model.RegisterCompany.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <!-- step four -->
        <div class="step">
            <h2 class="text-center mb-4">Finalizar</h2>
        </div>

        <!-- start previous / next buttons -->
        <div class="form-footer d-flex">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Próximo</button>
        </div>
        <!-- end previous / next buttons -->
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
