@using EMS.Core.Responses.Services;
@using EMS.WebApp.MVC.Extensions;
@model PagedViewModel<ServiceResponse>
@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Serviços";
    var itemIndex = 0;
}

<vc:Notification></vc:Notification>
<div class="page-header">
    <div class="page-title">
        <h4>Serviços</h4>
    </div>
    <div class="page-btn">
        <a asp-controller="Services" asp-action="Create" class="btn btn-added">
            <img src="~/template_admin_2/img/icons/plus.svg"
                 class="me-2"
                 alt="img" />Adicionar Serviço
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset">
                        <img src="~/template_admin_2/img/icons/search-white.svg" alt="img" />
                    </a>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="pdf">
                            <img src="~/template_admin_2/img/icons/pdf.svg" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="excel">
                            <img src="~/template_admin_2/img/icons/excel.svg" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="print">
                            <img src="~/template_admin_2/img/icons/printer.svg" alt="img" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table datanew">
                <thead>
                    <tr>
                        @* <th>
                            <label class="checkboxs">
                                <input type="checkbox" id="select-all" />
                                <span class="checkmarks"></span>
                            </label>
                        </th> *@

                        <th>#</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Duração</th>
                        <th>Status</th>
                        <th>Data de Cadastro</th>
                        <th>Data de Modificação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.List)
                    {
                        <tr>
                            @* <td>
                            <label class="checkboxs">
                                <input type="checkbox" />
                                <span class="checkmarks"></span>
                            </label>
                        </td> *@
                            <td>@(Model.PageSize * (Model.PageIndex - 1) + itemIndex + 1)</td>
                            <td>@service.Name</td>
                            <td>@this.FormatCurrency(service.Price)</td>
                            <td>@this.FormatTimeSpan(service.Duration)</td>
                            <td><span class="badges @(service.IsActive ? "bg-lightgreen" : "bg-lightred")">@(service.IsActive ? "Ativo" : "Inativo")</span></td>
                            <td>@this.FormatDate(service.CreatedAt)</td>
                            <td>@this.FormatDate(service.UpdatedAt)</td>
                            <td>
                                <a class="me-3" asp-controller="Services" asp-action="Details" asp-route-id="@service.Id" asp-route-id="@service.Id">
                                    <img src="~/template_admin_2/img/icons/eye.svg" alt="img" />
                                </a>
                                <a class="me-3" asp-controller="Services" asp-action="Edit" asp-route-id="@service.Id">
                                    <img src="~/template_admin_2/img/icons/edit.svg" alt="img" />
                                </a>
                                <a class="me-3 confirm-text" asp-controller="Services" asp-action="Delete" asp-route-id="@service.Id">
                                    <img src="~/template_admin_2/img/icons/delete.svg" alt="img" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* 
<form method="get" asp-controller="Services" asp-action="Index">
    <div class="d-flex align-items-center">
        <div class="input-group me-3">
            <input type="text"
                    class="form-control"
                    placeholder="Pesquisar"
                    aria-label="Pesquisar"
                    aria-describedby="pesquisar"
                    id="q" name="q"
                    value="@ViewBag.Search" />
            <button class="btn btn-outline-secondary"
                    type="submit"
                    id="pesquisar">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <a asp-controller="Services" asp-action="Create" class="btn btn-success align-self-center w-75">
            Adicionar Serviço
        </a>
    </div>
</form>
   
<div class="card-body">
    <table class="table">
            
    </table>
    <vc:pagination paged-model="@Model"></vc:pagination>
</div>*@