@model ProductViewModel

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Deletar Produto";
}

<div class="card border-0 col-md-12">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            Você tem certeza que deseja deletar o Produto: @Model.Title
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UnitaryValue)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.UnitaryValue)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsActive)
                    </dd>
                </dl>

                <form asp-action="Delete" class="form-group mt-3">
                    <input type="hidden" asp-for="Id" />
                    <a asp-action="Index" class="btn btn-warning me-3">Voltar</a>
                    <input type="submit" value="Deletar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
