@using EMS.Core.Responses;
@using EMS.Core.Responses.Products;
@model Response<ProductResponse>

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Detalhes do Produto";
}

<div class="card border-0 col-md-12">
    <div class="card-header d-flex justify-content-between">
        <h5 class="card-title">
            Detalhes do Produto: @Model.Data.Title
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data.UnitaryValue)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.UnitaryValue)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data.IsActive)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.IsActive)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data.CreatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.CreatedAt)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data.UpdatedAt)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Data.UpdatedAt)
                    </dd>
                </dl>

                <div class="form-group mt-3">
                    <a asp-action="Index" class="btn btn-warning me-3">Voltar</a>
                    <a asp-action="Edit" asp-route-id="@Model.Data.Id" class="btn btn-primary">Editar</a>
                </div>
            </div>
        </div>
    </div>
</div>
