@using EMS.WebApp.MVC.Extensions
@model IEnumerable<PlanViewModel>

@{
    ViewData["Title"] = "Todos os planos";
}

<section>
    <div>
        <div class="container">
            <div style="text-align: center;">
                <h1>Planos</h1>
            </div>
        </div>
        <div class="container" style=" padding-top: 20px">
            <div class="row">
                @{
                    foreach (var plan in Model.OrderBy(p => p.Price))
                    {
                        <div class="col-md-4">
                            <div class="card card-product-grid" style="min-height: 500px">
                                <div class="card-body text-center">
                                    <h5 class="card-title">@plan.Title</h5>
                                    <p class="card-text">@plan.Subtitle</p>
                                    <hr />
                                </div>
                                <div class="card-body">
                                    @foreach (var benefit in this.SplitBenefits(@plan.Benefits))
                                    {
                                        <p class="font-weight-bold px-4"><i class="far fa-check-circle" style="color: #f06f11;"></i> @benefit</p>
                                    }
                                </div>
                                <div class="card-body mb-2 text-center">
                                    <var class="price h4">@this.FormatCurrency(plan.Price)</var>
                                </div>
                                <div class="card-body text-center">
                                    <a asp-controller="Authentication" asp-action="Register" asp-route-planId="@plan.Id" class="btn btn-sm btn-dark">
                                        Quero esse!
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>