@model DashboardViewModel

@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count">
            <div class="dash-counts">
                <h4>@Model.TotalClientes</h4>
                <h5>Clientes</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das1">
            <div class="dash-counts">
                <h4>@Model.TotalColaboradores</h4>
                <h5>Colaboradores</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das2">
            <div class="dash-counts">
                <h4>@Model.TotalServicos</h4>
                <h5>Serviços</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="shopping-cart"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das3">
            <div class="dash-counts">
                <h4>@Model.TotalAgendamentos</h4>
                <h5>Total de Agendamentos</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="calendar"></i>
            </div>
        </div>
    </div>
</div>

<div class="row mt-lg-5">
    <div class="col-lg-7 col-sm-12 col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Retenção de Agendamentos</h5>
                <div class="graph-sets">
                    <ul>
                        <li><span>Realizado</span></li>
                        <li><span>Cancelado</span></li>
                    </ul>
                    <div class="dropdown">
                        <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            @Model.AnoSelecionado
                            <img src="~/template_admin_2/img/icons/dropdown.svg" alt="img" class="ms-2" />
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var ano in Model.AnosDisponiveis)
                            {
                                <li>
                                    <a href="@Url.Action("Index", new { ano = ano })" class="dropdown-item">@ano</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="appointment_retention_chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12 col-12 d-flex">
        <div class="card flex-fill">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h4 class="card-title mb-0">Status dos Colaboradores</h4>
                <div class="dropdown">
                    <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false" class="dropset">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <a href="productlist.html" class="dropdown-item">Colaboradores</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <div id="status_employee_chart"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script>
            if ($("#appointment_retention_chart").length > 0) {
                var options = {
                    series: [
                        { name: "Realizado", data: @Html.Raw(Json.Serialize(Model.AppointmentRetention.Select(x => x.Realizado))) },
                        { name: "Cancelado", data: @Html.Raw(Json.Serialize(Model.AppointmentRetention.Select(x => x.Cancelado))) },
                    ],
                    colors: ["#28C76F", "#EA5455"],
                    chart: {
                        type: "bar",
                        height: 300,
                        stacked: true,
                        zoom: { enabled: true },
                    },
                    responsive: [
                        {
                            breakpoint: 280,
                            options: { legend: { position: "bottom", offsetY: 0 } },
                        },
                    ],
                    plotOptions: {
                        bar: { horizontal: false, columnWidth: "20%", endingShape: "rounded" },
                    },
                    xaxis: {
                        categories: @Html.Raw(Json.Serialize(Model.AppointmentRetention.Select(x => x.Mes))),
                    },
                    legend: { position: "right", offsetY: 40 },
                    fill: { opacity: 1 },
                };
                var chart = new ApexCharts(
                    document.querySelector("#appointment_retention_chart"),
                    options
                );
                chart.render();
            }

            if ($("#status_employee_chart").length > 0) {
                var donutChart = {
                    chart: { height: 350, type: "donut", toolbar: { show: false } },
                    series: @Html.Raw(Json.Serialize(Model.StatusColaboradores)),
                    labels: ['Ativos', 'Inativos'],
                    colors: ["#28C76F", "#EA5455"],
                    responsive: [
                        {
                            breakpoint: 480,
                            options: { chart: { width: 200 }, legend: { position: "bottom" } },
                        },
                    ],
                };
                var donut = new ApexCharts(
                    document.querySelector("#status_employee_chart"),
                    donutChart
                );
                donut.render();
            }
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
