@using EMS.Core.Responses.Clients;
@using EMS.WebApp.MVC.Extensions
@model ClientResponse

@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Deletar Cliente";
}
<div class="page-header">
    <div class="page-title">
        <h4>Você tem certeza que deseja deletar o Cliente: @Model.Name @Model.LastName</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="productdetails">
                    <ul class="product-bar">
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.Name)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.Name)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.LastName)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.LastName)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.PhoneNumber)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.Document)
                            </h4>
                            <h6>
                                @Html.DisplayFor(model => model.Document)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </h4>
                            <h6>
                                @(Model.IsActive ? "Ativo" : "Inativo")
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </h4>
                            <h6>
                                @this.FormatDate(Model.CreatedAt)
                            </h6>
                        </li>
                        <li>
                            <h4>
                                @Html.DisplayNameFor(model => model.UpdatedAt)
                            </h4>
                            <h6>
                                @this.FormatDate(Model.UpdatedAt)
                            </h6>
                        </li>
                    </ul>
                </div>
                <div class="mt-3">
                    <form asp-action="Delete">
                        <a asp-action="Index" class="btn btn-cancel">Voltar</a>
                        <input type="hidden" asp-for="@Model.Id" />
                        <input type="submit" value="Deletar" class="btn btn-submit me-2" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>