@using EMS.Core.Responses.Clients;
@using EMS.WebApp.MVC.Extensions;
@model PagedViewModel<ClientResponse>
@{
    Layout = "_LayoutAdmin2";
    ViewData["Title"] = "Clientes";
    var itemIndex = 0;
}

<vc:Notification></vc:Notification>
<div class="page-header">
    <div class="page-title">
        <h4>Clientes</h4>
    </div>
    <div class="page-btn">
        <a asp-controller="Clients" asp-action="Create" class="btn btn-added">
            <img src="~/template_admin_2/img/icons/plus.svg"
                 class="me-2"
                 alt="img" />Adicionar Cliente
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <form method="get" asp-controller="Clients" asp-action="Index">
                        <div class="input-group">
                            <input type="search" name="q" class="form-control form-control-sm" placeholder="Search..." value="@ViewBag.Search">
                            <button class="btn btn-searchset" type="submit">
                                <img src="~/template_admin_2/img/icons/search-white.svg" alt="img" />
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="pdf">
                            <img src="~/template_admin_2/img/icons/pdf.svg" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="excel">
                            <img src="~/template_admin_2/img/icons/excel.svg" alt="img" />
                        </a>
                    </li>
                    <li>
                        <a data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="print">
                            <img src="~/template_admin_2/img/icons/printer.svg" alt="img" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover mb-0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>E-mail</th>
                        <th>Celular</th>
                        <th>Status</th>
                        <th>Data de Cadastro</th>
                        <th>Data de Modificação</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.List)
                    {
                        <tr>
                            <td>@(Model.PageSize * (Model.PageIndex - 1) + itemIndex + 1)</td>
                            <td>@service.Name</td>
                            <td>@service.LastName</td>
                            <td>@service.Email</td>
                            <td>@service.PhoneNumber</td>
                            <td><span class="badges @(service.IsActive ? "bg-lightgreen" : "bg-lightred")">@(service.IsActive ? "Ativo" : "Inativo")</span></td>
                            <td>@this.FormatDate(service.CreatedAt)</td>
                            <td>@this.FormatDate(service.UpdatedAt)</td>
                            <td>
                                <a class="me-3" asp-controller="Clients" asp-action="Details" asp-route-id="@service.Id" asp-route-id="@service.Id">
                                    <img src="~/template_admin_2/img/icons/eye.svg" alt="img" />
                                </a>
                                <a class="me-3" asp-controller="Clients" asp-action="Edit" asp-route-id="@service.Id">
                                    <img src="~/template_admin_2/img/icons/edit.svg" alt="img" />
                                </a>
                                <a class="me-3 confirm-text" asp-controller="Clients" asp-action="Delete" asp-route-id="@service.Id">
                                    <img src="~/template_admin_2/img/icons/delete.svg" alt="img" />
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <vc:pagination paged-model="@Model"></vc:pagination>
        </div>
    </div>
</div>